<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
    <!-- Подключение Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Подключение jQuery (для Ajax) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block extra_css %}{% endblock %}
</head>
{% comment %} font-mono {% endcomment %}
<body class='w-full h-full bg-[#0a0a0a]'>
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
