{% extends 'base.html' %}


{% block title %}Home - Your Website{% endblock %}




{% block content %}
{% include 'top_bar.html' %}


{% load custom_filters %}
{% load manga_page_tags %}

{% get_stats as stats %}

<div class='w-[900px] h-full flex flex-col justify-center items-center align-middle m-auto my-10'>
    <div class='text-[#BFBFBF]'>
        Количество обработанных Манг: {{stats.manga_count}}
    </div>
    <div class='text-[#BFBFBF]'>
        Количество обработанных Глав: {{stats.chapter_count}}
    </div>
    <div class='text-[#BFBFBF]'>
        Количество обработанных Страниц: {{stats.page_count}}
    </div>
    <div class='text-[#BFBFBF]'>
        Количество обработанных Комментариев: {{stats.comment_count}}
    </div>
</div>

{% endblock %}








{% block extra_css %}
{% endblock %}

{% block extra_js %}
<!-- Любые дополнительные скрипты для этой страницы -->
{% endblock %}
