{% extends 'base.html' %}


{% block title %}Home - Your Website{% endblock %}




{% block content %}
{% include 'top_bar.html' %}


{% load custom_filters %}

<div class='w-16 h-full flex flex-col justify-center items-center align-middle m-auto my-10'>
    {% for i in '9876543210'|make_list %}

        <div class='w-16 h-16 items-center text-center align-middle' style="background-color: {{ i|get_color }}">{{i}}</div>

    {% endfor %}
</div>

{% endblock %}








{% block extra_css %}
{% endblock %}

{% block extra_js %}
<!-- Любые дополнительные скрипты для этой страницы -->
{% endblock %}
