{% extends 'base.html' %}

{% block title %}{{manga.slug}}{% endblock %}

{% block content %}
{% load custom_filters %}
{% load static %}

{% include 'top_bar.html' %}
<style>
    .test {
        background-color: rgb(255, 255, 255); 
        box-shadow: rgba(0, 0, 0, 0.1) 0px -100px 100px 0px inset;
    }
</style>
<div data-page-compressed-toxic={% url "manga_page:manga_data_toxic_compressed" slug=manga.slug %} hidden id='urls' data-stats='{% url "manga:add_stats" %}' data-csrf={{ csrf_token }} data-manga-id='{{manga.id}}' data-get-stats-urs={% url "manga:get_stats" %} data-page-compressed={% url "manga_page:manga_data_population_compressed" slug=manga.slug %}>
</div>
<div hidden id='at_days'>{% url "manga_page:manga_data_at_days" slug=manga.slug %}</div>
<div hidden id='pass'>{% url "manga_page:manga_data_at_days" slug=manga.slug %}</div>

<div class="w-[1300px] mx-auto flex flex-col justify-center items-center bg-[#0a0a0a] h-full p-4 font-mono rounded-md min-h-96 mt-4 [&_*]:duration-300">

    <img src={{manga.background.url}} class='rounded-lg brightness-75 test w-[1300px] h-[380px] object-cover'>

    <div class="w-full h-full flex flex-row justify-between -mt-20 z-10 border-red-900 border-1 px-4 [&>div]:border-1 [&>div]:border-yellow-300 gap-4">
        {% comment %} left block {% endcomment %}
        <div class="w-[260px] flex flex-col items-center align-middle text-white gap-8">
            {% comment %} image {% endcomment %}
            <div class="w-[260px] h-auto rounded-lg">
                <img src={{manga.cover.default}} class='m-auto rounded-lg'>
            </div>

            <div class='w-[260px] h-auto hover:[&>div]:cursor-pointer bg-[#1c1c1c] [&>div]:gap-1 [&>div]:text-left [&>div]:p-2 [&>div]:rounded-lg rounded-lg flex flex-col [&>div]:text-sm p-2 [&>div]:w-full [&>div]:h-auto hover:[&>div]:bg-[#252526]'>
                {% comment %} {% for i in '0123456'|make_list %} {% endcomment %}
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Тип
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {% if manga.model == 'manga' %}
                            Манга
                        {% elif manga.model == 'manhva' %}
                            Манхва
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Выпуск
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {{manga.release_date_string}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Глав
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        ~{{manga|get_chapter_count}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Страниц
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        ~{{manga|get_page_count}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Комментариев
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        ~{{manga|get_comments_count}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Средняя токсичность комментариев
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {{manga|get_avg_toxic}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Статус
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {{manga.manga_status}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Перевод
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {{manga.translate_status}}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Автор
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {% for people in manga.authors.all %}
                            <a {{people.id}}>
                                {{people.name}}
                            </a>
                            
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Художник
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {% for people in manga.artists.all %}
                            <a {{people.id}}>
                                {{people.name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="text-[#EBEBF580] items-start text-left">
                        Издатели
                    </div>  
                    <div class='text-[#BFBFBF] text-base '>
                        {% for people in manga.publishers.all %}
                            <a {{people.id}}>
                                {{people.name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% if manga.other_names %}
                    <div>
                        <div class="text-[#EBEBF580] items-start text-left">
                            Альтернативные названия
                        </div>  
                        <div class='text-[#BFBFBF] text-base '>
                            {% for name in manga.other_names %}
                                {{name}}
                                {% if not forloop.last %}|{% endif %}
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}
                {% comment %} {% endfor %} {% endcomment %}
            </div>

        </div>

        {% comment %} right block {% endcomment %}
        <div class="w-full h-full flex flex-col justify-between items-center align-middle bg-[#0a0a0a] bg-opacity-70 rounded-lg">
            <div class="w-full h-[100px] flex justify-between text-white px-4 py-2 rounded-lg">
                <div class="">
                    <div class='line-[36px] text-[24px]'>
                        {{manga.rus_name}}
                    </div>
                    <div class='text-lg'>
                        {{manga.name}}
                    </div>
                </div>

                <div class='w-auto h-8 rounded-lg flex justify-between items-center align-middle px-2 text-lg'>
                    <div class=' flex flex-row justify-between items-center align-middle gap-1'>
                        <div style="color: {{ manga.rating.average|get_color }}">
                        {{manga.rating.average}}
                        </div>
                        <img src='https://img.icons8.com/?size=48&id=19295&format=png' class='w-4 h-4'>
                    </div>
                    <div>
                        / {{manga.rating.votesFormated}}
                    </div>
                </div>
            </div>


            <div class='bg-[#1c1c1c] w-full h-full rounded-lg py-4 px-4'>

                <div class='w-full hover:bg-[#252526] p-2 rounded-lg'>
                    <div class='text-[#EBEBF580]'>
                        Описание
                    </div>
                    <div class='text-[#BFBFBF]'>
                        {{manga.summary}}
                    </div>
                </div>
                {% comment %} 

                bg-[#0a0a0a] основной фон

                bg-[#252526] фон элементов
                bg-[#1c1c1c] фон элементов при наведении

                text-[#BFBFBF] текст основной
                text-[#EBEBF580] текст вторичный

                {% endcomment %}
                <div class='w-full hover:bg-[#252526] p-2 rounded-lg'>
                    <div class='text-[#EBEBF580]'>
                        Теги
                    </div>
                    <div class='text-[#BFBFBF] [&>div]:text-sm hover:[&>div]:cursor-pointer hover:[&>div]:bg-[#313134] [&>div]:border [&>div]:border-[#464649] [&>div]:rounded-md [&>div]:w-auto [&>div]:h-auto [&>div]:px-2 flex gap-2 flex-wrap [&>div]:bg-[#242425]'>
                        
                        <div class='!bg-[#2c2323] text-[#DE7072] !border-[#eb7678] hover:!bg-[#392929]'>
                            {{manga.age_restriction.label}}
                        </div>

                        {% for tag in manga.tags.all %}
                        <div>
                            {{tag.name|capfirst }}
                        </div>   
                        {% endfor %}
                        {% for tag in manga.genres.all %}
                        <div>
                            {{tag.name|capfirst }}
                        </div>  
                        {% endfor %}

                    </div>
                </div>

                <div class='w-full hover:bg-[#252526] p-2 rounded-lg'>
                    <div class='text-[#EBEBF580]'>
                        Переводчики
                    </div>
                    <div class="[&>div]:border gap-2 [&>div]:border-[#464649] flex flex-wrap [&>div]:rounded-md [&>div]:w-auto [&>div]:h-auto [&>div]:text-[#BFBFBF] [&>div]:bg-[#252526]">
                        {% for team in manga.teams.all %}
                        <div class='flex items-center justify-center align-middle p-[1px] gap-1 cursor-pointer'>
                            <img class='h-7 w-7 rounded-md' src='https://test-front.mangalib.me{{team.cover.thumbnail}}'>
                            {{team.name}}
                        </div>
                        {% endfor %}
                    </div>
                </div>



                <div class='w-full p-2 rounded-lg mt-4'>
                    <div class='text-[#EBEBF580]'>
                        Связанное
                    </div>
                    <div id='relations' class='w-full h-auto max-w-[928px] min-h-32 border border-[#0a0a0a] rounded-lg flex justify-start overflow-x-auto gap-4'>

                    </div>
                </div>

                <div class='w-full p-2 rounded-lg mt-4'>
                    <div class='text-[#EBEBF580]'>
                        Похожее
                    </div>
                    <div id='similar' class='w-full h-auto max-w-[928px] min-h-32 border border-[#0a0a0a] rounded-lg flex justify-start overflow-x-auto gap-4'>

                    </div>
                </div>

            </div>
        
        </div>

    </div>


    <div class='w-full h-full flex flex-col justify-between [&>*]:bg-[#252526] rounded-lg gap-0 mt-4 px-4'>
        <div class='bg-[#0a0a0a] flex flex-col justify-between rounded-lg gap-4 px-0 py-4'>

            <div class='w-full rounded-lg h-auto'>
                <div class='w-full h-80 [&_canvas]:border [&_canvas]:border-[#0a0a0a] [&_canvas]:bg-[#252526] [&_canvas]:rounded-lg text-[#BFBFBF] rounded-lg flex justify-between gap-2 px-4'>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='bookmarks_text' class='w-full h-auto'></span>
                        <canvas id="bookmarks" class='w-full !h-full'></canvas>
                    </div>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='rating_text' class='w-full h-auto'></span>
                        <canvas id="rating" class='w-full !h-full'></canvas>
                    </div>
                </div>
            </div>
            <div class='w-full rounded-lg h-auto'>
                <div class='w-full h-80 [&_canvas]:border [&_canvas]:border-[#0a0a0a] [&_canvas]:bg-[#252526] [&_canvas]:rounded-lg text-[#BFBFBF] rounded-lg flex justify-between gap-2 px-4'>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='population_page_compressed_text' class='w-full h-auto'></span>
                        <canvas id="population_page_compressed" class='w-full !h-full'></canvas>
                    </div>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='population_chapter_compressed_text' class='w-full h-auto'></span>
                        <canvas id="population_chapter_compressed" class='w-full !h-full'></canvas>
                    </div>
                </div>
            </div>

            <div class='w-full rounded-lg h-auto'>
                <div class='w-full h-80 [&_canvas]:border [&_canvas]:border-[#0a0a0a] [&_canvas]:bg-[#252526] [&_canvas]:rounded-lg text-[#BFBFBF] rounded-lg flex justify-between gap-2 px-4'>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='toxic_chapters_compressed_text' class='w-full h-auto'></span>
                        <canvas id="toxic_chapters_compressed" class='w-full !h-full'></canvas>
                    </div>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='PASS' class='w-full h-auto'></span>
                        <canvas id="PASS" class='w-full !h-full'></canvas>
                    </div>
                </div>
            </div>

            <div class='w-full rounded-lg h-auto'>
                <div class='w-full h-80 [&_canvas]:border [&_canvas]:border-[#0a0a0a] [&_canvas]:bg-[#252526] [&_canvas]:rounded-lg text-[#BFBFBF] rounded-lg flex justify-between gap-2 px-4'>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='comments_at_days_of_the_week_text' class='w-full h-auto'></span>
                        <canvas id="comments_at_days_of_the_week" class='w-full !h-full'></canvas>
                    </div>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='chapters_at_days_of_the_week_text' class='w-full h-auto'></span>
                        <canvas id="chapters_at_days_of_the_week" class='w-full !h-full'></canvas>
                    </div>
                </div>
            </div>

            <div class='w-full rounded-lg h-auto'>
                <div class='w-full h-80 [&_canvas]:border [&_canvas]:border-[#0a0a0a] [&_canvas]:bg-[#252526] [&_canvas]:rounded-lg text-[#BFBFBF] rounded-lg flex justify-between gap-2 px-4'>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='PASS' class='w-full h-auto'></span>
                        <canvas id="PASS" class='w-full !h-full'></canvas>
                    </div>
                    <div class='text-center h-80 w-full items-start flex flex-col'>
                        <span id='PASS' class='w-full h-auto'></span>
                        <canvas id="PASS" class='w-full !h-full'></canvas>
                    </div>
                </div>
            </div>

            {% for i in '01234'|make_list %}

            {% endfor %}

        </div>
    </div>  

</div>

{% endblock %}







{% block extra_css %}
<!-- Любые дополнительные стили для этой страницы -->
{% endblock %}

{% block extra_js %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
<script src='{% static "chart.js" %}'></script>
<script src='{% static "search.js" %}'></script>
<script src='{% static "test.js" %}'></script>
{% endblock %}
