{% extends 'base.html' %}


{% block title %}{{manga.slug}}{% endblock %}

{% block content %}
{% include 'top_bar.html' %}



<div class="container border-2 border-black mx-auto w-[75%] text-center">
    {{manga.rus_name}}
</div>

<div class="container border-2 border-black mx-auto w-[75%] text-center">
    <img src={{manga.cover.default}} class='m-auto'>
</div>



{% endblock %}








{% block extra_css %}
<!-- Любые дополнительные стили для этой страницы -->
{% endblock %}

{% block extra_js %}
<!-- Любые дополнительные скрипты для этой страницы -->
{% endblock %}