<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="bg-[1c1c1c] p-3 flex items-center align-middle flex-col">
{% for manga in data %}
<div class='w-[700px] hover:h-48 h-32 rounded-lg bg-[#252526] hover:bg-[#313134] duration-300 my-2 mx-2 overflow-hidden'>
    <a class='w-full h-full flex p-2 justify-between gap-4' href={% url 'manga:manga' slug=manga.slug %}>
        <img class='h-full w-auto rounded-md' src={{manga.cover.default}} >
        <div class='h-full w-full rounded-md flex flex-col my-auto justify-center'>
            <span class='text-xs text-[#BFBFBF]'>{{manga.status}}</span>
            <span class='text-[#BFBFBF] text-sm mb-2'>{{manga.rus_name}}</span>
            <div class='text-sm  mt-2'>
                <span class='text-[#EBEBF580] text-xs '>
                    {{manga.rating.average}}
                <span>
                <span class='text-[#EBEBF580] text-xs'>
                    {{manga.release_date_string}}
                <span>
            </div>
        </div>
    </a>
</div>
{% endfor %}
<div>